<!DOCTYPE html>
<html>
<head>
<title>Iniciando</title>
<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</head>
<body class="container">
	<div class="card mb-3">
		<div class="card-header"><h4>Muy bien</h4></div>
		<div class="card-body">
			<div class="row">
				<div class="col-6">
					<table class="table table-bordered text-center" border="1" style="width:300px">
						<tr>
							<th colspan="5">Num Intentos necesitados</th>
						</tr>
						<tr>
							<td><p>Intentos:</p></td>
							<td><p th:text="${intentotes}"></p></td>
						</tr>
					</table>
				</div>
				<div class="col-6">
					<p>Ahora puedes ver los intentos que has hecho pulsando en el boton verde de abajo</p>
				</div>
			</div>
			<div class="row">
				<img src="https://3.bp.blogspot.com/-X0ynsE3wjPw/V2Pz8WyfekI/AAAAAAAABhs/90zYopuZM3weax7WxKzvlYdnCLmgD4K-gCLcB/s1600/aplauso%2B2.gif" class="img-fluid" height="100px">
			</div>
	</div>
	<a class="btn btn-success" th:href="@{/palabras}">Ver intentos</a>
    <a class="btn btn-primary" th:href="@{/menuIni}">Menu principal</a>
</body>
</html>